  <section id="glowna">

    <video loop muted autoplay poster="video/Hello-World.jpg">
      <source src="video/Hello-World.mp4" type="video/mp4" />
      <source src="video/Hello-World.ogv" type="video/ogg; codecs=theora"/>
      <source src="video/Hello-World.webm" type="video/webm" />
    </video>

<div class="headglowna container">
      <div class="row">
        <div id="bounce" class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
            <h2>Front-End Developer</h2>
          </div>
          <h3>Zajmuję się programowaniem aplikacji internetowych</h3>
          <a href="umiejetnosci">sprawdź umiejętności</a>
        </div>
      </div>
      <div class="github">
        <a href="https://github.com/rojewskieu" target="_blank">
          <img src="img/github.png" class="imggithub" alt=""></a>
      </div>
    </div>
    <div class="bottomglowna hidden-xs">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="skill">
              <img src="img/angularjs.png" width="53" height="73" alt="angularjs"/>
            </div>
            <div class="skill">
              <img src="img/javascript.png" width="53" height="73" alt="javascript"/>
            </div>
            <div class="skill">
              <img src="img/bootstrap.png" width="53" height="73" alt="bootstrap"/>
            </div>
            <div class="skill">
              <img src="img/html5.png" width="53" height="73" alt="html5"/>
            </div>
            <div class="skill">
              <img src="img/css3.png" width="53" height="73" alt="css3"/>
            </div>
            <div class="skill">
              <img src="img/less.png" width="53" height="73" alt="css3"/>
            </div>
            <div class="skill">
              <img src="img/php.png" width="53" height="73" alt="php"/>
            </div>
            <div class="skill">
              <img src="img/mysql.png" width="53" height="73" alt="mysql"/>
            </div>
            <div class="skill">
              <img src="img/wordpress.png" width="53" height="73" alt="wordpress"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>