<section id="omnie">
    <div id="fadein" class="container">
        <h1>Omnie</h1>
        <div class="row">
            <div class="col-sm-6 proj">
                <img src="img/rojewski.jpg" class="img-responsive" alt="rojewski">
                <br>
                <p>
                    Nazywam się Łukasz Rojewski. Pracuje głównie jako front-end web developer tworząc aplikacje internetowe wykorzystując do tego takie technologie jak HTML5, CSS3, JavaScript oraz PHP/MySQL. Stosuję na codzień możliwości dwóch frameworków: Angularjs oraz bootstrap, chętnie również sięgne do biblioteki jQuery.
                    <p>
                        <strong>Koduje w:</strong> Brackets
                        <strong><br>  
              Grafiką zajmę się w:</strong> Photoshop
                        <br>
                        <strong>Do automatyzacji zadań:</strong> Gulp
                        <br>
                        <strong>CMS:</strong> Użyje WordPress
                        <br>
                        <strong>W pracy pomaga mi jeszcze:</strong> npm oraz Git
                    </p>
                </p>
                <br>
                <p> <strong>O stronie</strong>
                    <br> Na stronie zostały wykorzystane wszystkie wyżej wymienione technologie. Stronę zbudowałem w głównej mierze o Angularjs. Repozytorium tej strony znajdziecie pod adresem [link]
                </p>
            </div>
            <div class="col-sm-6 proj">
                <p> <strong>Współpraca</strong>
                    <br> Chętnie pomogę w stworzeniu od A-Z serwisu internetowego lub innej aplikacji pod weba. Zapraszam do <a href="kontakt">Kontaktu</a>.
                </p>
                <br>
                <div class="col-xs-4 .col-sm-4 .col-md-4">
                    <div class="skill">
                        <img src="img/angularjs.png" width="53" height="73" alt="angularjs" />
                    </div>
                    <div class="skill">
                        <img src="img/javascript.png" width="53" height="73" alt="javascript" />
                    </div>
                    <div class="skill">
                        <img src="img/bootstrap.png" width="53" height="73" alt="bootstrap" />
                    </div>
                </div>
                <div class="col-xs-4 .col-sm-4 .col-md-4">
                    <div class="skill">
                        <img src="img/html5.png" width="53" height="73" alt="html5" />
                    </div>
                    <div class="skill">
                        <img src="img/css3.png" width="53" height="73" alt="css3" />
                    </div>
                    <div class="skill">
                        <img src="img/less.png" width="53" height="73" alt="css3" />
                    </div>
                </div>
                <div class="col-xs-4 .col-sm-4 .col-md-4">
                    <div class="skill">
                        <img src="img/php.png" width="53" height="73" alt="php" />
                    </div>
                    <div class="skill">
                        <img src="img/mysql.png" width="53" height="73" alt="mysql" />
                    </div>
                    <div class="skill">
                        <img src="img/wordpress.png" width="53" height="73" alt="wordpress" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-include src="'partials/stopka.html'"></ng-include>
</section>
