<section id="portfolio">
    <div id="fadein" class="container">
        <h1>Portfolio</h1>
        <div class="row">
            <div class="col-sm-12 .col-xs-12 proj">
                <p>Zapraszam również na moje konto <a href="https://github.com/rojewskieu" target="_blank">GitHub</a></p>
            </div>
        </div>
        <div class="container">
            <div class="row">


                <div id="grid" class="main">


                    <div class="view">
                        <div class="view-back">
                            <span>WordPress</span>
                            <span>WooCommerce</span>
                            <span>CSS3</span>
                            <span>HTML5</span>
                            <span>jQuery</span>
                            <a href="#" class="uruchom-okienko" data-okienkoId="#okienko7">&rarr;</a>
                        </div>
                        <img src="img/nls.jpg" /></div>

                    <picture>
                        <!--[if IE 9]>    
            <video style="display: none;">
              <![endif]-->
                        <source srcset="img/nls_min.jpg" class="img-responsive" media="(max-width: 768px)">
                        <source srcset="">
                        <!--[if IE 9]>    
              <video style="display: none;">
                <![endif]-->
                        <img srcset=""></picture>







                    <div class="view">
                        <div class="view-back">
                            <span>WordPress</span>
                            <span>CSS3</span>
                            <span>HTML5</span>
                            <span>jQuery</span>
                            <a href="#" class="uruchom-okienko" data-okienkoId="#okienko6">&rarr;</a>
                        </div>
                        <img src="img/hitowe.jpg" />
                    </div>

                    <picture>
                        <!--[if IE 9]>    
            <video style="display: none;">
              <![endif]-->
                        <source srcset="img/hitowe_min.jpg" class="img-responsive" media="(max-width: 768px)">
                        <source srcset="">
                        <!--[if IE 9]>    
              <video style="display: none;">
                <![endif]-->
                        <img srcset=""></picture>






                    <div class="view">
                        <div class="view-back">
                            <span>WordPress</span>
                            <span>CSS3</span>
                            <span>HTML5</span>
                            <span>jQuery</span>
                            <a href="#" class="uruchom-okienko" data-okienkoId="#okienko5">&rarr;</a>
                        </div>
                        <img src="img/kapitel.jpg" />
                    </div>

                    <picture>
                        <!--[if IE 9]>    
            <video style="display: none;">
              <![endif]-->
                        <source srcset="img/kapitel_min.jpg" class="img-responsive" media="(max-width: 768px)">
                        <source srcset="">
                        <!--[if IE 9]>    
              <video style="display: none;">
                <![endif]-->
                        <img srcset=""></picture>






                    <div class="view">
                        <div class="view-back">
                            <span>HTML5</span>
                            <span>CSS3 / LESS</span>
                            <span>BOOTSTRAP</span>
                            <span>ANGULARJS</span>
                            <span>JQUERY</span>
                            <span>PHP/MYSQL</span>
                            <a href="#" class="uruchom-okienko" data-okienkoId="#okienko1">&rarr;</a>
                        </div>
                        <img src="img/rojewskieu.jpg" />
                    </div>

                    <picture>
                        <!--[if IE 9]>    
            <video style="display: none;">
              <![endif]-->
                        <source srcset="img/rojewskieu_min.jpg" class="img-responsive" media="(max-width: 768px)">
                        <source srcset="">
                        <!--[if IE 9]>    
              <video style="display: none;">
                <![endif]-->
                        <img srcset=""></picture>








                    <div class="view">
                        <div class="view-back">
                            <span>WordPress</span>
                            <span>CSS3</span>
                            <span>HTML5</span>
                            <span>jQuery</span>
                            <a href="#" class="uruchom-okienko" data-okienkoId="#okienko2">&rarr;</a>
                        </div>
                        <img src="img/znaneparafiepl.jpg" />
                    </div>
                    <picture>
                        <!--[if IE 9]>    
            <video style="display: none;">
              <![endif]-->
                        <source srcset="img/znaneparafiepl_min.jpg" class="img-responsive" media="(max-width: 768px)">
                        <source srcset="">
                        <!--[if IE 9]>    
              <video style="display: none;">
                <![endif]-->
                        <img srcset=""></picture>









                    <div class="view">
                        <div class="view-back">
                            <span>WordPress</span>
                            <span>CSS3</span>
                            <span>HTML5</span>
                            <a href="#" class="uruchom-okienko" data-okienkoId="#okienko3">&rarr;</a>
                        </div>
                        <img src="img/grene-franczyzapl.jpg" />
                    </div>

                    <picture>
                        <!--[if IE 9]>    
            <video style="display: none;">
              <![endif]-->
                        <source srcset="img/grene-franczyzapl_min.jpg" class="img-responsive" media="(max-width: 768px)">
                        <source srcset="">
                        <!--[if IE 9]>    
              <video style="display: none;">
                <![endif]-->
                        <img srcset=""></picture>






                    <div class="view">
                        <div class="view-back">
                            <span>WordPress</span>
                            <span>CSS3</span>
                            <span>HTML5</span>
                            <span>jQuery</span>
                            <a href="#" class="uruchom-okienko" data-okienkoId="#okienko4">&rarr;</a>
                        </div>
                        <img src="img/grenecuppl.jpg" />
                    </div>

                    <picture>
                        <!--[if IE 9]>    
            <video style="display: none;">
              <![endif]-->
                        <source srcset="img/grenecuppl_min.jpg" class="img-responsive" media="(max-width: 768px)">
                        <source srcset="">
                        <!--[if IE 9]>    
              <video style="display: none;">
                <![endif]-->
                        <img srcset=""></picture>



                </div>
            </div>
            <ul id="pagin"></ul>
        </div>
    </div>



    <!-- popupy    -->
    <div id="okienko7" class="okienko-baza">
        <div class="okienko-wnetrze">
            <div class="okienko-zamknij">&times;</div>
            <img class="okienko-img" src="img/nls_full.png" />
        </div>
    </div>
    <div id="okienko6" class="okienko-baza">
        <div class="okienko-wnetrze">
            <div class="okienko-zamknij">&times;</div>
            <img class="okienko-img" src="img/hitowe_full.png" />
        </div>
    </div>
    <div id="okienko5" class="okienko-baza">
        <div class="okienko-wnetrze">
            <div class="okienko-zamknij">&times;</div>
            <img class="okienko-img" src="img/kapitel_full.png" />
        </div>
    </div>
    <div id="okienko1" class="okienko-baza">
        <div class="okienko-wnetrze">
            <div class="okienko-zamknij">&times;</div>
            <img class="okienko-img" src="img/rojewskieu_full.png" />
        </div>
    </div>
    <div id="okienko2" class="okienko-baza">
        <div class="okienko-wnetrze">
            <div class="okienko-zamknij">&times;</div>
            <img class="okienko-img" src="img/znaneparafiepl_full.png" />
        </div>
    </div>
    <div id="okienko3" class="okienko-baza">
        <div class="okienko-wnetrze">
            <div class="okienko-zamknij">&times;</div>
            <img class="okienko-img" src="img/grene-franczyzapl_full.png" />
        </div>
    </div>
    <div id="okienko4" class="okienko-baza">
        <div class="okienko-wnetrze">
            <div class="okienko-zamknij">&times;</div>
            <img class="okienko-img" src="img/grenecuppl_full.png" />
        </div>
    </div>


    <script src="js/modernizr.custom.69142.js"></script>
    <script>
        Modernizr.load({
            test: Modernizr.csstransforms3d && Modernizr.csstransitions,
            yep: ['js/app.min.js'],
            callback: function(url, result, key) {

                if (url === 'js/app.min.js') {
                    $('#grid').hoverfold();
                }

            }
        });

    </script>


    <script>
        $(function() {
            $(".uruchom-okienko").click(function(e) {
                e.preventDefault();

                $("body").css("overflow", "hidden");

                var idOkienka = $(this).attr("data-okienkoId");
                $(idOkienka).fadeIn("fast");

                $(idOkienka).find(".okienko-wnetrze").click(function() {
                    $(idOkienka).fadeOut("fast", function() {
                        $("body").css("overflow", "auto");
                    });
                });

            });
        });

    </script>







    <ng-include src="'partials/stopka.html'"></ng-include>
</section>
