<section id="umiejetnosci">

    <div id="fadein" class="container">
        <h1>Umiejętności</h1>
        <div class="row">

            <div class="col-lg-3">
                <p>Kodowanie</p>
                <span class="skill">HTML5</span>
                <span class="star">
            <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star-o fa-2x"></span>
                </span>
                <br>
                <span class="skill">CSS3</span>
                <span class="star">
            <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star-o fa-2x"></span>
                </span>
                <br>
                <span class="skill">BOOTSTRAP</span>
                <span class="star">
            <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star-o fa-2x"></span>
                </span>
                <br>
                <span class="skill">LESS</span>
                <span class="star">
            <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star-o fa-2x"></span>
                </span>
                <br>
                <span class="skill">JAVASCRIPT</span>
                <span class="star">
            <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star-o fa-2x"></span>
                <span class="fa fa-star-o fa-2x"></span>
                </span>
                <br>
                <span class="skill">JQUERY</span>
                <span class="star">
            <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star-half-empty fa-2x"></span>
                <span class="fa fa-star-o fa-2x"></span>
                <span class="fa fa-star-o fa-2x"></span>
                </span>
                <br>
                <span class="skill">ANGULARJS</span>
                <span class="star">
            <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star-half-empty fa-2x"></span>
                <span class="fa fa-star-o fa-2x"></span>
                <span class="fa fa-star-o fa-2x"></span>
                </span>
                <br>
                <span class="skill">PHP</span>
                <span class="star">
            <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star-o fa-2x"></span>
                <span class="fa fa-star-o fa-2x"></span>
                <span class="fa fa-star-o fa-2x"></span>
                </span>
                <br>
                <span class="skill">MYSQL</span>
                <span class="star">
            <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star-half-empty fa-2x"></span>
                <span class="fa fa-star-o fa-2x"></span>
                <span class="fa fa-star-o fa-2x"></span>
                </span>
                <br>
                <span class="skill">GULP</span>
                <span class="star">
                    <span class="fa fa-star fa-2x"></span>
                    <span class="fa fa-star fa-2x"></span>
                    <span class="fa fa-star fa-2x"></span>
                    <span class="fa fa-star-o fa-2x"></span>
                    <span class="fa fa-star-o fa-2x"></span>
                </span>
            </div>

            <div class="col-lg-3 col-lg-offset-1">
                <p>CMS</p>
                <span class="skill">WordPress</span>
                <span class="star">
            <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star-o fa-2x"></span>
                </span>
                <br>
                <span class="skill">Magento</span>
                <span class="star">
            <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star-o fa-2x"></span>
                <span class="fa fa-star-o fa-2x"></span>
                <span class="fa fa-star-o fa-2x"></span>
                </span>
            </div>

            <div class="col-lg-3 col-lg-offset-1">
                <p>Programy</p>
                <span class="skill">Photoshop</span>
                <span class="star">
            <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star-half-empty fa-2x"></span>
                <span class="fa fa-star-o fa-2x"></span>
                <span class="fa fa-star-o fa-2x"></span>
                </span>
                <br>
                <span class="skill">Brackets</span>
                <span class="star">
            <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star fa-2x"></span>
                <span class="fa fa-star-o fa-2x"></span>
                </span>
            </div>
        </div>
        <div class="row roj">
            <div class="col-lg-6">Prace z kodowaniem codziennie umila mi <strong>npm oraz GIT</strong></div>
        </div>
    </div>

    <ng-include src="'partials/stopka.html'"></ng-include>

</section>
